{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
  </div>
</section>
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
  <div class="col-lg-9 col-xl-8 text-center">
    <p class="lead">{{ .Params.lead | safeHTML }}</p>
    <a class="btn btn-primary btn-lg px-4 mb-2" href="/register/" role="button">Join SIGTURK</a>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-4">
        <h2 class="h4">Diverse and Inclusive</h2>
        <p>SIGTURK is a safe place for all demographics from all backgrounds and identities to contribute their
          enthusiasm to the study of Turkic languages in their own unique way.</p>
      </div>
      <div class="col-lg-4">
        <h2 class="h4">Research</h2>
        <p>SIGTURK follows a model of an open-source and open-contribution research where members can learn, develop and
          apply cutting-edge methods to the development of computational linguistics in Turkic languages.</p>
      </div>
      <div class="col-lg-4">
        <h2 class="h4">Network</h2>
        <p>SIGTURK aims to prosper a research community and more collaborations among its members for the most
          productive research outcomes by organizing international workshops and social gatherings.</p>
      </div>
      <div class="col-lg-4">
        <h2 class="h4">Initiative</h2>
        <p>We welcome everyone to take initiative to contribute to the different directions in our community as well as
          propose new areas of activities that will benefit our objectives in different ways.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
{{ end }}
